
.product{
    display: block;
    width: 80%;
    margin: 0 auto;
   
  @media  screen and (max-width:460px) {
    box-shadow: 0 0 15px rgba(232, 146, 146, 0.5);
     border-radius: 10px; 
     margin-bottom: 30px;
     margin-top: 30px;
     width: 70vw;
     margin: 0 auto;

  }    
    .product_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-height: 100px;
    background-color: white;
    z-index: 1;
        .amount{
        margin-top: 5px;
        display: flex;
    }
        .product_rating{
            display: flex;
            justify-content:start;
            .star{
                color: rgb(211, 211, 14);
            }
        };
        img{
            max-height: 15rem;
            min-height: 7rem;
           
            object-fit: contain;
            margin-bottom: 15px;
            opacity: 1;
            &:hover{
                transform: scale(1.2);
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
            }
            
        }
        button{
            background-color: #f0c14b;
            border: 1px solid;
            margin-top: 10px;
            padding: 3px;
            font-size: 0.3rem;
            color:#111;
            font-size: small;
            border-color: #a88734 #9c7e31 #846a29;
            &:hover, &:active{
                cursor: pointer;
            }
        }
    }
}
