.sizes{
    display: flex;
    justify-content: center;
    select{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #cd9042; 
        background-color: white;
        font-size: 0.8rem;
        padding: 0.2rem;
        text-transform: capitalize;
        &:active, &:focus, &:visited{
            border: 1px solid #cd9042; ;
        }
    }
    
}